link(rel="stylesheet", type="text/css", href="/jsonwebtoken.github.io/website/css/google-roboto-mono.css")
link(rel="stylesheet", href="/jsonwebtoken.github.io/website/css/bootstrap.min.css")
link(rel='stylesheet', href='/jsonwebtoken.github.io/website/css/codemirror.css', type='text/css', media='all')
link(rel='stylesheet', href='/jsonwebtoken.github.io/website/css/lint.css', type='text/css', media='all')
link(rel="stylesheet", href='/jsonwebtoken.github.io/website/css/budicon.css', type="text/css", media="all")
link(rel='stylesheet', href='/jsonwebtoken.github.io/website/css/index.css', type='text/css', media='all')
